<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/home.js" defer></script>
</head>
<body>
<header>
    <div>

    </div>
    <div class="titel">
        <a href=""><h1>User Base</h1></a>
    </div>
    <div>
    </div>
</header>


<main>
    <div class="container">
        <h1>Welcome</h1>
        <a href="/sign-in"><h1>Login</h1></a>
        <h2>or</h2>
        <a href="/sign-up"><h1>Register</h1></a>
    </div>

</main>


</body>
</html>