<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="/css/search.css">
    <script src="/js/search.js" defer></script>
</head>
<body>
<header>
    <div class="search-title"><h1>Search For User</h1></div>
</header>

<main>
   <div class="search-form">
    <form action="/search-results" method="get">
        <input type="text" name="search" placeholder="Search for user">
        <button type="submit">Search</button>
    </form>
</div>

<div class="back-home">
    <a href="/home-feed">Back Home</a>
</div>
</main>



</body>
</html>